    /* import part  */
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500&family=Signika+Negative&family=Work+Sans&display=swap');


    /* css all variables */

    :root {
        --main-color: #562EFF;
        --all-white: #FFFFFF;
        --main-bg-color: #f8f4fc;
        --box-shadow: rgba(0, 0, 0, 0.35) 0rem 0.3125rem 0.9375rem;
    }

    /* for all part  */

    * {
        margin: 0;
        font-family: Poppins;
    }

    /* body part section  */


    body {
        background-color: var(--main-bg-color);
    }


    /* all image resize part */
    .logo-img img,
    .profile-img img {
        width: auto;
        height: 1.875rem;
    }


    /* nav-bar  part */


    header {
        width: 100%;
        height: 3.75rem;
        background: var(--main-color);
        /* position: fixed; */
    }

    .nav-bar {
        padding: 0.7813rem 0rem 0.3125rem 0rem;

    }

    .nav-bar,
    .nav-part1,
    .nav-part2,
    .menu-bar ul {
        display: flex;

    }

    .nav-bar {
        justify-content: space-between;
        color: var(--all-white);
    }

    .nav-part1 {
        gap: 0.625rem;
        position: relative;
        left: 10%;
        align-items: center;
    }

    .nav-part2 {
        gap: 0.625rem;

        position: relative;
        right: 10%;

        align-items: center;
    }

    .nav-part2 ul {
        list-style: none;
        gap: 0.625rem;
    }


    /* main section part  */

    .container {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3.125rem;


    }

    /* --------------  player part  ------------------- */

    .player-container {
        border-bottom: 0.0625rem solid #D1D1D1;
        margin-left: 8%;
        margin-right: 8%;
    }

    .player-container img {
        width: 3.5rem;
        height: 3.5rem;

    }

    .player-heading {
        margin: 2.1875rem;
        color: var(--main-color);
    }

    /* grid area define part  */
    .player1 {
        grid-area: player1;
    }

    .player2 {
        grid-area: player2;
    }

    .player3 {
        grid-area: player3;
    }

    .player4 {
        grid-area: player4;
    }

    .player5 {
        grid-area: player5;
    }

    .player6 {
        grid-area: player6;
    }

    .player-blog-part {
        background-color: var(--all-white);
        width: 54.375rem;
        height: auto;
        border-radius: 0.9375rem;
        padding: 1.5625rem;
        position: relative;
        top: 3.75rem;

    }

    /* grid part  */
    .top-player {
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 1.875rem;
        margin-bottom: 6.25rem;
        /* grid-template-rows: 6.25rem 6.25rem;  */
        /* grid-template-areas:
            "player1 player2 player3"
            "player4 player5 player6"; */



    }

    .player-1,
    .player-2,
    .player-3,
    .player-4,
    .player-5,
    .player-6 {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.9375rem;
    }





    /* --------------  blog part  -------------------  */



    .blog-container {
        /* border-bottom: 0.0625rem solid #D1D1D1; */
    }

    .blog-container img {
        width: 11.0625rem;
        height: 7.3125rem;

    }

    .blog-heading {
        margin: 2.1875rem;
        color: var(--main-color);
    }

    /* grid area define part  */
    .blog1 {
        grid-area: blog1;
    }

    .blog2 {
        grid-area: blog2;
    }

    .blog3 {
        grid-area: blog3;
    }

    .blog4 {
        grid-area: blog4;
    }

    .blog5 {
        grid-area: blog5;
    }

    .blog6 {
        grid-area: blog6;
    }

    .player-blog-part {
        background-color: var(--all-white);
        /* width: 54.375rem;
        height: 42.4375rem; */
        border-radius: 0.9375rem;
        padding: 1.5625rem;
        position: relative;
        top: 3.75rem;
        padding-bottom: 15%;

    }

    /* grid part  */
    .top-blog {
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: 1fr 1fr;
        row-gap: 2.5rem;
        /* grid-template-rows: 9.375rem 9.375rem; */
        /* grid-template-areas:
            "blog1 blog2 "
            "blog3 blog4 "; */



    }

    .blog-0{
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 1.875rem;
        row-gap: 1.875rem;
        /* padding: 0.75rem 0.625rem; */
        
        border-radius: 0.9375rem;
        /* box-shadow: var(--box-shadow) */
        /* gap: 0.9375rem; */
    }

    .main-footer {
        display: grid;
        margin: 0rem 2.1875rem;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 1.25rem;
        column-gap: 1.25rem;


    }
    .footer {
        height: 17.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 0.4688rem;
        /* justify-content: center; */
        border-radius: 0.9375rem;
        /* border: 0.0625rem solid ; */
        padding: 0.625rem;
        /* box-shadow: #9a9a9a; */
        box-shadow: rgba(0, 0, 0, 0.35) 0rem 0.3125rem 0.9375rem;
    }

    .footer img {
        width: 100%;
    }

    .heding {
        font-size: 1.125rem;
    }

    .perag {
        color: red;
    }

    .str {
        display: grid;
        width: 6.25rem;
        grid-template-columns: repeat(4, 1fr);
    }

    .str img {
        width: 100%;
    }

    .review-part {
        display: flex;
        gap: 5%;
        align-items: center;
    }

    .rating {
        color: #D1D1D1;
    }

    .time {
        display: flex;
        align-items: center;
        background-color: rgb(255, 206, 223);
        padding-right: 4%;
        padding-top: 1%;
        padding-bottom: 1%;
        border-radius: 0.9375rem;
        color: rgb(255, 3, 87);

    }

    .clk {
        width: 2.5rem;
        display: flex;
        align-items: center;
    }

    .clk img {
        width: 60%;
        padding-left: 0.75rem;
    }

    .hr {
        font-size: 0.75rem;
    }


    /* ------------------------- 
    full media part 
------------------------- */
    @media screen and (max-width: 576px) {

        /* grid part  */
        .top-player {
            display: grid;
            column-gap: 1.25rem;
            grid-template-columns: 1fr 1fr;
        }

        .player-heading {
            /* margin-: 0.9375rem; */
            text-align: center;
            color: var(--main-color);
        }

        .player-1,
        .player-2,
        .player-3,
        .player-4,
        .player-5,
        .player-6 {
            gap: 0.375rem;
            flex-direction: column;
        }

        .player-blog-part {
            width: 19.375rem;
            /* height: auto; */
        }

        .player-container {
            margin-left: 0rem;
            margin-right: 0rem;
        }


        /* -------------------------
        blog part media
        ------------------------- */

        /* grid part  */
        .top-blog {
            display: grid;
            /* row-gap: 3.125rem; */
            grid-template-columns: 1fr;
        }

        .blog-heading {
            /* margin-: 0.9375rem; */
            text-align: center;
            color: var(--main-color);
        }

        .blog-0{           
            gap: 0rem;
            display: flex;
            flex-direction: column;
            border-radius: 15px;
            padding: 10px 0px;
            box-shadow: var(--box-shadow);
            /* column-gap: 1.25rem; */
        }

        .blog-container {
            margin-left: 0rem;
            margin-right: 0rem;
        }

        .blog-container img {
            width: 9.375rem;
            height: auto;

        }

        .main-footer {
            display: grid;
            margin: 0rem 2.1875rem;
            grid-template-columns: 1fr;
            /* gap: 2.1875rem; */



        }

    }
