    /* import part  */
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500&family=Signika+Negative&family=Work+Sans&display=swap');


    /* css all variables */

    :root {
        --main-color: #562EFF;
        --all-white: #FFFFFF;
        --main-bg-color: #f8f4fc;
    }

    /* for all part  */

    * {
        margin: 0;
        font-family: Poppins;
    }

    /* body part section  */


    body {
        background-color: var(--main-bg-color);
    }


    /* all image resize part */
    .logo-img img,
    .profile-img img {
        width: auto;
        height: 30px;
    }


    /* nav-bar  part */


    header {
        width: 100%;
        height: 60px;
        background: var(--main-color);
        /* position: fixed; */
    }

    .nav-bar {
        padding: 12.5px 0px 5px 0px;

    }

    .nav-bar,
    .nav-part1,
    .nav-part2,
    .menu-bar ul {
        display: flex;

    }

    .nav-bar {
        justify-content: space-between;
        color: var(--all-white);
    }

    .nav-part1 {
        gap: 10px;
        position: relative;
        left: 10%;
        align-items: center;
    }

    .nav-part2 {
        gap: 10px;

        position: relative;
        right: 10%;

        align-items: center;
    }

    .nav-part2 ul {
        list-style: none;
        gap: 10px;
    }


    /* main section part  */

    .container {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;


    }

    /* --------------  player part  ------------------- */

    .player-container {
        border-bottom: 1px solid #D1D1D1;
        margin-left: 8%;
        margin-right: 8%;
    }

    .player-container img {
        width: 56px;
        height: 56px;

    }

    .player-heading {
        margin: 35px;
        color: var(--main-color);
    }

    /* grid area define part  */
    .player1 {
        grid-area: player1;
    }

    .player2 {
        grid-area: player2;
    }

    .player3 {
        grid-area: player3;
    }

    .player4 {
        grid-area: player4;
    }

    .player5 {
        grid-area: player5;
    }

    .player6 {
        grid-area: player6;
    }

    .player-blog-part {
        background-color: var(--all-white);
        width: 870px;
        height: auto;
        border-radius: 15px;
        padding: 25px;
        position: relative;
        top: 60px;

    }

    /* grid part  */
    .top-player {
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 30px;
        margin-bottom: 100px;
        /* grid-template-rows: 100px 100px;  */
        /* grid-template-areas:
            "player1 player2 player3"
            "player4 player5 player6"; */



    }

    .player-1,
    .player-2,
    .player-3,
    .player-4,
    .player-5,
    .player-6 {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }





    /* --------------  blog part  -------------------  */



    .blog-container {
        /* border-bottom: 1px solid #D1D1D1; */
    }

    .blog-container img {
        width: 177px;
        height: 117px;

    }

    .blog-heading {
        margin: 35px;
        color: var(--main-color);
    }

    /* grid area define part  */
    .blog1 {
        grid-area: blog1;
    }

    .blog2 {
        grid-area: blog2;
    }

    .blog3 {
        grid-area: blog3;
    }

    .blog4 {
        grid-area: blog4;
    }

    .blog5 {
        grid-area: blog5;
    }

    .blog6 {
        grid-area: blog6;
    }

    .player-blog-part {
        background-color: var(--all-white);
        /* width: 870px;
        height: 679px; */
        border-radius: 15px;
        padding: 25px;
        position: relative;
        top: 60px;
        padding-bottom: 15%;

    }

    /* grid part  */
    .top-blog {
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: 1fr 1fr;
        row-gap: 40px;
        /* grid-template-rows: 150px 150px; */
        /* grid-template-areas:
            "blog1 blog2 "
            "blog3 blog4 "; */



    }

    .blog-1,
    .blog-2,
    .blog-3,
    .blog-4 {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 30px;
        /* gap: 15px; */
    }

    .main-footer {
        display: grid;
        margin: 0px 35px;
        grid-template-columns: repeat(3, 1fr);
        gap: 35px;

    }

    .footer img {
        width: 100%;
    }

    .heding {
        font-size: 18px;
    }

    .perag {
        color: red;
    }

    .str {
        display: grid;
        width: 100px;
        grid-template-columns: repeat(4, 1fr);
    }

    .str img {
        width: 100%;
    }

    .review-part {
        display: flex;
        gap: 5%;
        align-items: center;
    }

    .rating {
        color: #D1D1D1;
    }

    .time {
        display: flex;
        align-items: center;
        background-color: rgb(255, 206, 223);
        padding-right: 4%;
        padding-top: 1%;
        padding-bottom: 1%;
        border-radius: 15px;
        color: rgb(255, 3, 87);

    }

    .clk {
        width: 40px;
        display: flex;
        align-items: center;
    }

    .clk img {
        width: 60%;
        padding-left: 12px;
    }

    .hr {
        font-size: 12px;
    }


    /* ------------------------- 
    full media part 
------------------------- */
    @media screen and (max-width: 576px) {

        /* grid part  */
        .top-player {
            display: grid;
            column-gap: 20px;
            grid-template-columns: 1fr 1fr;
        }

        .player-heading {
            /* margin-: 15px; */
            text-align: center;
            color: var(--main-color);
        }

        .player-1,
        .player-2,
        .player-3,
        .player-4,
        .player-5,
        .player-6 {
            gap: 6px;
        }

        .player-blog-part {
            width: 330px;
            /* height: auto; */
        }

        .player-container {
            margin-left: 0px;
            margin-right: 0px;
        }


        /* -------------------------
        blog part media
        ------------------------- */

        /* grid part  */
        .top-blog {
            display: grid;
            /* row-gap: 50px; */
            grid-template-columns: 1fr;
        }

        .blog-heading {
            /* margin-: 15px; */
            text-align: center;
            color: var(--main-color);
        }

        .blog-1,
        .blog-2,
        .blog-3,
        .blog-4 {
            gap: 8px;
            /* column-gap: 20px; */
        }

        .blog-name {
            padding-left: 15px;
        }

        .blog-blog-part {
            width: 330px;
            height: auto;
        }

        .blog-container {
            margin-left: 0px;
            margin-right: 0px;
        }

        .blog-container img {
            width: 150px;
            height: auto;

        }

        .main-footer {
            display: grid;
            margin: 0px 35px;
            grid-template-columns: 1fr;
            /* gap: 35px; */



        }

    }